{% extends 'index.html' %}
<head>
    <meta charset="UTF-8">
</head>
{% block page-content %}
<div>
    <form method="POST" action="/bbs_sub/">
        {% csrf_token %}
        {{ form }}
        <script src="/static/tinymce/js/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="/static/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
        <script>tinymce.init({ selector:'textarea' });</script>
        <textarea name="content"></textarea>
        <input type="submit" value="提交">
    </form>

</div>

{% endblock %}



