{#{% extends 'index.html' %}#}

{#{% block page-content %}#}
{#################}
{#{% if request.user.is_authenticated %}#}
{#        <div class="pull-right">#}
{#            <a href=#>欢迎您：{{request.user}}</a>#}
{#            <a class="btn danger small" href="#">注销</a>#}
{#        </div>#}
{#{% else %}#}
{#          <form action="/accounts/Login/" method='post' class="pull-right">#}
{#            <input name='username' class="input-small" type="text" placeholder="用户名">#}
{#            <input name='password' class="input-small" type="password" placeholder="密码">#}
{#            <button class="btn" type="submit">登录</button>#}
{#          </form>#}
{#{% endif %}#}
{###########}

    <form action="" method='post' class="pull-right">
        {%  csrf_token %}
        {{ form }}
{#        {{ form.username }}#}
{#        {{ form.password }}#}
        <button class="btn" type="submit">登录1</button>
     </form>

{#{% endblock %}#}
